<div class = "countainer ">
  <div class ="row">
    <div class = "col-xs-10 col-sm-offset-4 col-md-8 col-md-offset-3 text-center">

      <%@requests.each do |request|%>
      <h2> Chose an opnent and match!</h2>
      <h1> Users who bet to <%=request.team_selected%></h1>
        <ul class ="list-unstyled ">
        <div class ="user-card list-inline">
        <li><%=request.user.email%></li>
        <il><%=request.amount%> <i class="fa fa-database" aria-hidden="true"></i></il>
        <li><%=link_to "BET", new_request_match_path(request)%></li>
        <li></li>
        </div>
        </ul>

      <%end%>
    </div>
  </div>
</div>
