// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-card{
  padding: 20px;
  background-color: white;

}

.user-card:hover{
  background-color:#e0e2e4;
}

.index-request{
  border: 1px solid black;
  border-radius: 5px;
}

.hide-request{
  display: none;
}
